<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WACC</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% comment %}Header{% endcomment %}
    <div class="md:h-20 bg-blue-300 w-full flex justify-between items-center md:px-20">
      <h1 class="text-2xl font-bold">WACC</h1>
      <input placeholder="Search" type="search" class="focus:outline-none p-2" />
    </div>
    <div class="md:px-20 mt-5 flex gap-2 items-center">
      <a href="/mainmenu/" class="hover:bg-blue-300 duration-150 transition p-2">Home</a>
      <p>></p>
      <a href="" class="hover:bg-blue-300 duration-150 transition p-2">WACC CALCULATOR</a>
    </div>
    <div class="flex gap-2 md:px-10">
      <div class="md:px-0 md:p-5 my-5 bg-blue-300 h-full md:w-full rounded-lg">
        <form method="post">
          {% csrf_token %}
          <h1 class="text-2xl font-semibold my-2 text-center">WACC CALCULATION</h1>
          <table class="table border-separate border-spacing-5 w-full">
            <tbody>
              <tr>
                <td>Equity Value</td>
                <td>
                  <input placeholder="0" value="{{ num1 }}" name="num1" type="number" step="0.001" min="0" class="focus:outline-none p-2 rounded-lg ml-5" required />
                </td>

                <td>EBIT</td>
                <td>
                  <input placeholder="0" value="{{ EBIT }}" name="EBIT" type="number" step="0.001" class="focus:outline-none p-2 rounded-lg ml-5" required />
                </td>
              </tr>
              <tr>
                <td>Debt Value</td>
                <td>
                  <input placeholder="0" value="{{ num2 }}" name="num2" type="number" step="0.001" min="0" class="focus:outline-none p-2 rounded-lg ml-5" required />
                </td>

                <td>D&A</td>
                <td>
                  <input placeholder="0" value="{{ DA }}" name="DA" type="number" step="0.001" class="focus:outline-none p-2 rounded-lg ml-5" required />
                </td>
              </tr>
              <tr>
                <td>Cost of Debt</td>
                <td>
                  <input placeholder="0" value="{{ num3 }}" name="num3" type="number" step="0.001" min="0" class="focus:outline-none p-2 rounded-lg ml-5" required />
                </td>

                <td>CapEx</td>
                <td>
                  <input placeholder="0" value="{{ CapEx }}" name="CapEx" type="number" step="0.001" class="focus:outline-none p-2 rounded-lg ml-5" required />
                </td>
              </tr>
              <tr>
                <td>Tax Rate</td>
                <td>
                  <input placeholder="0" value="{{ num4 }}" name="num4" type="number" step="0.001" min="0" class="focus:outline-none p-2 rounded-lg ml-5" required />
                </td>

                <td>Non Cash WC</td>
                <td>
                  <input placeholder="0" value="{{ NonCashWC }}" name="NonCashWC" type="number" step="0.001" class="focus:outline-none p-2 rounded-lg ml-5" required />
                </td>
              </tr>
              <tr>
                <td>10y Treasury</td>
                <td>
                  <input placeholder="0" value="{{ num5 }}" name="num5" type="number" step="0.001" min="0" class="focus:outline-none p-2 rounded-lg ml-5" required />
                </td>

                <td>Cash</td>
                <td>
                  <input placeholder="0" value="{{ Cash }}" name="Cash" type="number" step="0.001" class="focus:outline-none p-2 rounded-lg ml-5" required />
                </td>
              </tr>
              <tr>
                <td>Beta</td>
                <td>
                  <input placeholder="0" value="{{ num6 }}" name="num6" type="number" step="0.001" min="0" class="focus:outline-none p-2 rounded-lg ml-5" required />
                </td>

                <td>Marketable Securities</td>
                <td>
                  <input placeholder="0" value="{{ MS }}" name="MS" type="number" step="0.001" class="focus:outline-none p-2 rounded-lg ml-5" required />
                </td>
              </tr>
              <tr>
                <td>Market Return</td>
                <td>
                  <input placeholder="0" value="{{ num7 }}" name="num7" type="number" step="0.001" min="0" class="focus:outline-none p-2 rounded-lg ml-5" required />
                </td>

                <td>Short Term Debt</td>
                <td>
                  <input placeholder="0" value="{{ STD }}" name="STD" type="number" step="0.001" class="focus:outline-none p-2 rounded-lg ml-5" required />
                </td>
              </tr>
              <tr>
                <td>Growth Rate</td>
                <td>
                  <input placeholder="0" value="{{ num8 }}" name="num8" type="number" step="0.001" min="0" class="focus:outline-none p-2 rounded-lg ml-5" required />
                </td>

                <td>Long Term Debt</td>
                <td>
                  <input placeholder="0" value="{{ LTD }}" name="LTD" type="number" step="0.001" class="focus:outline-none p-2 rounded-lg ml-5" required />
                </td>
              </tr>
              <tr>
                <td>Period (Year)</td>
                <td>
                  <input placeholder="0" value="{{ year }}" name="year" type="number" step="0.001" min="0" class="focus:outline-none p-2 rounded-lg ml-5" required />
                </td>

                <td>Outstanding Shares</td>
                <td>
                  <input placeholder="0" value="{{ OSH }}" name="OSH" type="number" step="0.001" class="focus:outline-none p-2 rounded-lg ml-5" required />
                </td>
              </tr>
            </tbody>
          </table>
          <input type="text" class="hidden" value="wacc" name="formType" />
          <div class="md:px-20">
            <button type="submit" class="bg-blue-500 w-full p-2 rounded-lg text-white">Submit</button>
          </div>
        </form>
      </div>

      {% if COE %}
        <div class="md:w-full md:pb-5 md:px-5">
          <div class="md:mx-0 md:p-5 md:w-full my-5 bg-blue-300 h-1/2 rounded-lg">
            <h1 class="text-2xl font-semibold my-2 text-center">Result</h1>
            <table class="table border-separate border-spacing-5 w-full">
              <tbody>
                <tr>
                  <td>Cost of Equity</td>
                  <td>
                    <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5" />
                  </td>
                </tr>
                <tr>
                  <td>E / E + D</td>
                  <td>
                    <input placeholder="0" value="{{ EED }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5" />
                  </td>
                </tr>
                <tr>
                  <td>D / E + D</td>
                  <td>
                    <input placeholder="0" value="{{ DED }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5" />
                  </td>
                </tr>
                <tr>
                  <td>WACC</td>
                  <td>
                    <input placeholder="0" value="{{ WACC }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      {% endif %}
    </div>

    <div class="md:px-10">
      {% if COE %}
        <div class="md:mx-0 md:p-5 my-5 bg-blue-300 h-100 rounded-lg">
          <table class="table-auto border-separate border-spacing-5 w-full">
            <thead class="">
              <tr>
                <th>Period</th>
                {% for yr in arrayYear %}
                  <th>{{ yr }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>EBIT</td>
                {% for item in arrayEBIT %}
                  <td>
                    <input placeholder="0" value="{{ item }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[100px]" />
                  </td>
                {% endfor %}
              </tr>
              <tr>
                <td>Tax</td>
                {% for item in arrayTax %}
                  <td>
                    <input placeholder="0" value="{{ item }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[100px]" />
                  </td>
                {% endfor %}
              </tr>
              <tr>
                <td>D&A</td>
                {% for item in arrayDA %}
                  <td>
                    <input placeholder="0" value="{{ item }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[100px]" />
                  </td>
                {% endfor %}
              </tr>
              <tr>
                <td>CapEx</td>
                {% for item in arrayCapEx %}
                  <td>
                    <input placeholder="0" value="{{ item }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[100px]" />
                  </td>
                {% endfor %}
              </tr>
              <tr>
                <td>Non Cash WC</td>
                {% for item in arrayNonCashWC %}
                  <td>
                    <input placeholder="0" value="{{ item }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[100px]" />
                  </td>
                {% endfor %}
              </tr>
              <tr>
                <td>FCF</td>
                {% for item in arrayFCF %}
                  <td>
                    <input placeholder="0" value="{{ item }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[100px]" />
                  </td>
                {% endfor %}
              </tr>
              <tr>
                <td>TV</td>
                {% for yr in arrayYear %}
                  <td></td>
                  {% if forloop.revcounter == 2 %}
                    <td>
                      <input placeholder="0" value="{{ TV }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[100px]" />
                    </td>
                  {% endif %}
                {% endfor %}
              </tr>
              <tr>
                <td>Discount Factor</td>
                {% for item in arrayDiscount %}
                  {% if item is null %}
                    <td></td>
                  {% else %}
                    <td>
                      <input placeholder="0" value="{{ item }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[100px]" />
                    </td>
                  {% endif %}
                {% endfor %}
              </tr>
              <tr>
                <td>PV of FCF</td>
                {% for item in arrayPVFCF %}
                  {% if item is null %}
                    <td></td>
                  {% else %}
                    <td>
                      <input placeholder="0" value="{{ item }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[100px]" />
                    </td>
                  {% endif %}
                {% endfor %}
              </tr>
              <tr>
                <td>PV of TV</td>
                {% for yr in arrayYear %}
                  <td></td>
                  {% if forloop.revcounter == 2 %}
                    <td>
                      <input placeholder="0" value="{{ PVTV }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[100px]" />
                    </td>
                  {% endif %}
                {% endfor %}
              </tr>
              <tr>
                <td>Enterprise Value</td>
                {% for yr in arrayYear %}
                  <td></td>
                  {% if yr is 0 %}
                    <td>
                      <input placeholder="0" value="{{ PVTV }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[100px]" />
                    </td>
                  {% endif %}
                {% endfor %}
              </tr>
              <tr>
                <td>Equity Value</td>
                {% for yr in arrayYear %}
                <td></td>
                {% if yr is 0 %}
                  <td>
                    <input placeholder="0" value="{{ PVTV }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[100px]" />
                  </td>
                {% endif %}
              {% endfor %}
              </tr>
              <tr>
                <td>Instrinsic Value</td>
                {% for yr in arrayYear %}
                  <td></td>
                  {% if yr is 0 %}
                    <td>
                      <input placeholder="0" value="{{ PVTV }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[100px]" />
                    </td>
                  {% endif %}
                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      {% endif %}
    </div>

    <div class="bg-black w-full p-10 flex justify-center items-center">
      <a href="https://fastwork.id/user/spicaturbo" target="_blank" class="text-center text-white text-2xl font-bold">Developed By Spica</a>
    </div>
  </body>
</html>
