<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WACC</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% comment %}Header{% endcomment %}
    <div class="md:h-20 bg-blue-300 w-full flex justify-between items-center md:px-20">
      <h1 class="text-2xl font-bold">WACC</h1>
      <input placeholder="Search" type="search" class="focus:outline-none p-2" />
    </div>
    <div class="md:px-20 mt-5 flex gap-2 items-center">
      <a href="/mainmenu/" class="hover:bg-blue-300 duration-150 transition p-2">Home</a>
      <p>></p>
      <a href="" class="hover:bg-blue-300 duration-150 transition p-2">WACC CALCULATOR</a>
    </div>
    <div class="flex gap-2">
      <div class="md:mx-20 md:p-5 my-5 bg-blue-300 h-full md:w-1/3 rounded-lg">
        <form method="post">
          {% csrf_token %}
          <h1 class="text-2xl font-semibold my-2 text-center">WACC CALCULATION</h1>
          <table class="table border-separate border-spacing-5 w-full">
            <tbody>
              <tr>
                <td>Equity Value</td>
                <td>
                  <input placeholder="0" value="{{ num1 }}" name="num1" type="number" step="0.001" min="0" class="focus:outline-none p-2 rounded-lg ml-5" />
                </td>
              </tr>
              <tr>
                <td>Debt Value</td>
                <td>
                  <input placeholder="0" value="{{ num2 }}" name="num2" type="number" step="0.001" min="0" class="focus:outline-none p-2 rounded-lg ml-5" />
                </td>
              </tr>
              <tr>
                <td>Cost of Debt</td>
                <td>
                  <input placeholder="0" value="{{ num3 }}" name="num3" type="number" step="0.001" min="0" class="focus:outline-none p-2 rounded-lg ml-5" />
                </td>
              </tr>
              <tr>
                <td>Tax Rate</td>
                <td>
                  <input placeholder="0" value="{{ num4 }}" name="num4" type="number" step="0.001" min="0" class="focus:outline-none p-2 rounded-lg ml-5" />
                </td>
              </tr>
              <tr>
                <td>10y Treasury</td>
                <td>
                  <input placeholder="0" value="{{ num5 }}" name="num5" type="number" step="0.001" min="0" class="focus:outline-none p-2 rounded-lg ml-5" />
                </td>
              </tr>
              <tr>
                <td>Beta</td>
                <td>
                  <input placeholder="0" value="{{ num6 }}" name="num6" type="number" step="0.001" min="0" class="focus:outline-none p-2 rounded-lg ml-5" />
                </td>
              </tr>
              <tr>
                <td>Market Return</td>
                <td>
                  <input placeholder="0" value="{{ num7 }}" name="num7" type="number" step="0.001" min="0" class="focus:outline-none p-2 rounded-lg ml-5" />
                </td>
              </tr>
              <tr>
                <td>Growth Rate</td>
                <td>
                  <input placeholder="0" value="{{ num8 }}" name="num8" type="number" step="0.001" min="0" class="focus:outline-none p-2 rounded-lg ml-5" />
                </td>
              </tr>
            </tbody>
          </table>
          <button type="submit" class="bg-blue-500 w-full p-2 rounded-lg text-white">Submit</button>
        </form>
      </div>

      {% if COE %}
        <div class="md:w-full md:pb-5 md:px-5">
          <div class="md:mx-0 md:p-5 md:w-1/2 my-5 bg-blue-300 h-1/2 rounded-lg">
            <h1 class="text-2xl font-semibold my-2 text-center">Result</h1>
            <table class="table border-separate border-spacing-5 w-full">
              <tbody>
                <tr>
                  <td>Cost of Equity</td>
                  <td>
                    <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5" />
                  </td>
                </tr>
                <tr>
                  <td>E / E + D</td>
                  <td>
                    <input placeholder="0" value="{{ EED }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5" />
                  </td>
                </tr>
                <tr>
                  <td>D / E + D</td>
                  <td>
                    <input placeholder="0" value="{{ DED }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5" />
                  </td>
                </tr>
                <tr>
                  <td>WACC</td>
                  <td>
                    <input placeholder="0" value="{{ WACC }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5" />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          {% if COE %}
            <div class="md:mx-0 md:p-5 my-5 bg-blue-300 h-100 rounded-lg">
              <form method="post">
                <table class="table-auto border-separate border-spacing-5 w-full">
                  <thead>
                    <tr>
                      <th>Period</th>
                      <th>0</th>
                      <th>1</th>
                      <th>2</th>
                      <th>3</th>
                      <th>4</th>
                      <th>5</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>EBIT</td>
                      <td>
                        <input placeholder="0" value="{{ EBIT1 }}" name="EBIT1" type="number" step="0.001" min="0" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ ebit_period_1 }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ ebit_period_2 }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ ebit_period_3 }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ ebit_period_4 }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ ebit_period_5 }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                    </tr>
                    <tr>
                      <td>Tax</td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                    </tr>
                    <tr>
                      <td>D&A</td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                    </tr>
                    <tr>
                      <td>CapEx</td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                    </tr>
                    <tr>
                      <td>Non Cash WC</td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                    </tr>
                    <tr>
                      <td>FCF</td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                    </tr>
                    <tr>
                      <td>TV</td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                      <td>
                        <input placeholder="0" value="{{ COE }}" readonly type="number" class="focus:outline-none p-2 rounded-lg ml-5 w-[70px]" />
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </body>
</html>
